@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    opacity: 0;
  }

  100% {
    opacity: 0.2;
  }
}

@keyframes fadeOutToNone {
  0% {
    opacity: 0.2;
  }

  100% {
    display: none;
    opacity: 0;
  }
}

.repo-link {
  color: var(--app-purple);
  font-weight: 700;
  transition: all 0.4s;
  display: inline-block;

  &:after {
    content: " ↗";
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-1px);
    opacity: 0.8;
  }
}

.blur-container {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.highlight-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(240, 196, 87);
  opacity: 0.2;

  animation: fadeOutToNone 1.5s ease-out forwards;
}

// Mobile style media queries
@media (max-width: 978px) {
  #sidebar {
    display: none;
  }

  #navbar {
    visibility: hidden;
    position: fixed;
  }

  #main-content {
    width: 100vw;
    border-left: 1px solid #374151;
    border-right: 1px solid #374151;
  }

  // at the "sm:" tailwind class width
  @media (max-width: 640px) {
    .post-text-content {
      width: calc(100vw - 180px);
    }
  }

  // at the point on which the #main-content starts to shrink
  @media (max-width: 574px) {
    .post-text-content {
      max-width: calc(100vw - 120px);
    }
  }
}
